# Django Settings
DEBUG=False
SECRET_KEY=votre_cle_secrete_ici
ALLOWED_HOSTS=votre_domaine.com,votre_ip

# Stripe Settings
STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
