Django==5.1.15
django-allauth==65.15.0
django-environ==0.11.2
django-extensions==3.2.3
django-modeltranslation==0.20.3
Pillow==11.0.0
requests==2.32.3
stripe==11.5.0
gunicorn==23.0.0
whitenoise==6.12.0
anyascii==0.3.3
asgiref==3.11.1
sqlparse==0.5.5
typing-extensions==4.15.0
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
urllib3==2.6.3
packaging==26.2
mysqlclient==2.2.8

